body{
  font-size: 14px;
  // min-width: 700px;
  overflow: auto;
}
.header {
  padding:0 20px;
  overflow: hidden;
  background-color: #074a7c;
  color:#fff;
  z-index: 999;
}
.container{
  padding:20px;
  min-height: 500px;
}
footer{
  text-align: center;
  margin-top: 20px;
  padding:10px 0;
}

 h3{
   font-size: 18px;
   margin-bottom: 10px;
 }

 h4{
   font-size: 16px;
   margin-bottom: 10px;
 }
 .ant-row>div{
   overflow: auto;
 }
 .script-info{
   font-size: 12px;
   color: #999;
   word-wrap: break-word;
 }

 .footer-links{
   padding:20px 10%;
   text-align: center;
   display: flex;
   background: #e3eff5;
   color:#004a7c;
   overflow: scroll;
   h3{
     font-size: 16px;
     font-weight: normal;
     border-bottom: 1px solid #004a7c;
     color:#004a7c;
     padding-bottom: 4px;
   }
   a{
     display: block;
     color:#004a7c;
     margin-bottom: 10px;
   }
  .link-group{
    flex: 1;
    text-align: left;
    margin-right: 40px;
    &:last-child{
      margin:0;
    }
   }
 }