.address-detail{
    .overview{
        .ant-row{
            padding:8px;
            border-top: 1px solid #ddd;
            text-align: top;
            &:nth-child(odd) {
                background-color: #f9f9f9;
            }
        }
    }
    .assests{
        p{
            margin-bottom: 10px;
        }
        em{
            font-style: normal;
            margin-right: 10px;
        }
    }
    .qrcode{
        padding: 0 20px;
        img{
            width: 200px;
            height: 200px;
        }
    }
    .tx-pager{
        margin-top: 20px;
        text-align: right;
        padding: 0 20px;
    }
    .address-tx-row{
        min-height: 50px;
    }
}